/* Brand Colors ------------------------------------------------*/

	$color1: #e21a22;
	$font-color: #6a6a6b;
	$color2: #272727;

	$placeholder: $color2;

	$base-font-weight: 300;
	$brand-font-1: '',sans-serif;
	$brand-font-2: '',sans-serif;
	
	$fontM:'Montserrat', sans-serif;
	$fontA: 'Amatic SC', cursive;


	$slick-font-path: "../fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "../images/" !default;
$slick-arrow-color: #54BBB9;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;