.slider{
	height: 900px;
	width: 100%;
	padding-top: 25px;
	box-sizing: border-box;
	padding-bottom: 150px;
	display: block;
	.slider-single{
		width: 100%;
		height: 640px;
		
		margin-bottom: 20px;
		.slide{
			width: 100%;
			height: 100%;
			.slider-image {
				width: 100%;
				height: 640px;
			}
		}
	}

	.slider-nav{
		display: block;
		padding: 0 65px;
		border-right:1px solid #54BBB9;
		border-left: 1px solid #54BBB9;
		box-sizing: border-box;
		padding-bottom: 150px;
		div.btn{
			background-size: cover; 
			box-sizing: border-box;
			max-width: 315px;
			height: 208px;
			transition: border-width 0.3s linear;
			// img {
			// 	width: 100%;
			// 	height: 100%;
			// }
			
		}
	}
}
